* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Audiowide", sans-serif;
    color: white;
}

.header {
    display: flex;
    justify-content: center;
    font-size: 60px;
    background-color: #041C32;
    color: #fac650;
}

.result {
    margin-bottom: 20px;
    font-size: 40px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #04293A;
}

.choices-container {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
    font-size: 30px;
    height: 300px;
    width: 850px;
}

.computer-choice {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 2px solid lightgreen;
}

.user-choice {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 2px solid yellow;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-height: fit-content;
    margin-bottom: 50px;
}

button {
    height: 160px;
    width: 160px;
    font-size: 80px;
    border-radius: 10px;
    background-color: #064663;

}

button:hover {
    transform: scale(1.1);
}


.choices {
    text-align: center;

}

.scores {
    font-size: 40px;
    margin-bottom: 35px;
}